* {
    margin: 0;
    padding: 0;    
}
body {
    font-family: 'Arial', sans-serif;
}

/*  MAIN PAGE  */
.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    color:#C9C5B1;
     padding: 10px 20px;
     padding-top: 2px;
     margin-top:-2.5%;
     background-color:#732933; 
     box-shadow: -2px -1px 10px 20px #4A1B21; 
}
.nav-list {
    display: flex;
    list-style: none;
    margin-top:1%;
    padding:10px 10px ;
    padding-right:30px;
}
.nav-list li {
    margin-right: 20px;
    margin: 10px 30px;
    justify-content: space-between;
}
.nav-list li:last-child {
    margin-right: 0;
}
.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.nav-list li a:hover {
    color: #090909;
}
.rightNav {
    text-align: right;
}
.btn {
    background-color: rgb(255, 255, 255);
    color: #4F4D46;
    height:42px;
    width:90px;
    border: none;
    border-radius: 155px;
    padding: 8px 12px;
    margin-left:20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    justify-content: space-between;
    font-size:18px;
    font-weight: bold;
}
.btn:hover {
    background-color: #000;
    color: #eaeae6;
}
.content{
    margin-top:19%;
    margin-left:63%;
    color :#732933;
}
.content h1{
    font-size: 120px;
    line-height:140px;
    font-weight:600;
}
.content h2{
    margin-left: 9%;
    line-height: 28px;
}
.slide-left{
    animation: slideleft 1s linear forwards;
    overflow-x: hidden;
}
@keyframes slideleft{
    0%{
        trasform: translate(100px);
        opacity:0;
    }
    100%{
        trasform: translate(0px);
        opacity:1;
    }
}
.logo{
    font-size: 34px;
    color:#ffffff;
    text-shadow: 0 0 5px #fff,
                 0 0 70px rgb(255, 255, 255);
}
.dropdown {
  float: left;
  overflow: hidden;
}
ul li ul.dropdown {
    width:13%;
    margin-top:2%;
    background:  rgb(3, 3, 3) ;
    position: absolute;
    z-index: 999;
    display:none;
    opacity:0.7;
  }
ul li ul.dropdown li {
    display:block;
}
ul li ul.dropdown li a{
    font-size: 14px;
}
ul li:hover ul.dropdown {
    display: block;
}
ul li ul.dropdown1 {
    width:13%;
    margin-top:2%;
    background:  rgb(3, 3, 3) ;
    position: absolute;
    z-index: 999;
    display:none;
    opacity:0.7;
}
ul li ul.dropdown1 li {
    display:block;
}
ul li:hover ul.dropdown1 {
    display: block;
}
ul li ul.dropdown1 li a{
    font-size: 14px;
}
ul li ul.dropdown2 {
    width:13%;
    margin-top:2%;
    background:  rgb(3, 3, 3) ;
    position: absolute;
    z-index: 999;
    display:none;
    opacity:0.7;
}
ul li ul.dropdown2 li {
    display:block;
}
ul li:hover ul.dropdown2 {
    display: block;
}
ul li ul.dropdown2 li a{
    font-size: 14px;
}



/*  LOGIN PAGE  */
/*  SIGNUP PAGE  */
.right{
    
    height:620px;
    width:900px;
    margin-left: 100%;
   margin-top:0.1%;
}
  .left{
    margin-top:-3%;
    margin-bottom:-3%;
    height:680px;
    width:33%;
    background-color: #732933;
}
.login{
    color:#732933;;
    height:2px;
    width:690px;
    order:2px solid black;
    margin-left:-2%;
    margin-top:-39%;
    padding-top:6%;
    padding-bottom: 11%;
    padding-left: 14%;
    font-weight:bolder;
    font-size:70px;
    font-style:normal;
}
input[type=text], input[type=password] {
    width: 100%;
    color: #000;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #151111;
    box-sizing: border-box;
}
.check{
    margin-top: 19px;
    margin-left:40px;
}
.button1 {
    background-color:  #631228;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size:16px;
    margin-top:18px;
  }
button:hover {
    opacity: 0.6;
}
.txtarea{
  border: 2px solid #2d2c2c;
}
::placeholder{
    color:#000000;
}
.container {
    padding: 16px;
    margin-top: -1%;
    width:400px;
    margin-left: 240px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
.psw{
    margin-right:130px;
    margin-top: -3px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid rgb(197, 139, 139);
    background: #febacf;
    opacity:0.5;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #bd9797;
    outline: none;
}
.input{
    width:40%;
    margin-left:34%;
}
hr {
    border: 1px solid transparent;
    margin-bottom: 25px;
}
button {
    background-color:  #631228 ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size:16px;
    opacity: 0.9;
}
button:hover {
    opacity:1;
    background: #9C3544;
}

.h1{
    margin-left:90px;
    color:#732933;
    margin-top:4px;
    font-weight:bolder;
    font-size:50px;
}
p{
    margin-left:60px;
    margin-top:10px;
}
.check1{
    margin-left:60px;
    margin-top:2%;
}
.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    margin-top: -13%;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}
&:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}
&:active {
      background-color: #eeeeee;
}
&:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
}
body {
    text-align: center;
    padding-top: 2rem;
  }
.imglog{
    height:100px;
    width:100px;
    border:2px solid black;
    margin-top:30%;
}
img{
  height:100%;
  width:100%;
  margin-top:150%;
  margin-left:40%;
}
.robot{

    height:200px;
    width:210px;
    margin-top:-210px;
    padding-top: 30px;
    margin-left:60px;
}
.p{
   margin-right:60px;
   width:100%;
   margin-left:-10px;
   height:250px;
    padding-top:70%;
    font-size: 25px;
    font-weight: bold;
    color:white;
    text-shadow: 0 0 5px #E6B5BB, 0 0 10px #E6B5BB;
}
.left1{
    border:2px solid #732933;
    height:670px;
    width:457px;
    margin-top:-30px;
    background-color:#732933;
  }
.right1{
    border:2px solid rgb(255, 247, 247);
    height:670px;
    width:900px;
    float:right;
}  
.signup1{
    height: 90px;
    width:400px;
    padding-top:11%;
    font-size:400%;
    margin-left:28%;
    color:#732933;;
}
.container2{
    width:44%;
    margin-left:29%;

}
.panda{
    height:200px;
    width:200px;
    margin-top:20%;
    margin-left:-5%;
    padding-top:19%;
}
.plog{
    font-size: 25px;
    font-weight: bold;
    color:white;
    text-shadow: 0 0 5px #E6B5BB, 0 0 10px #E6B5BB;
    margin-right:20%;
    margin-top: -12%;
    padding-top:-6%;

  }